<!DOCTYPE HTML>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- TOPO -->
        <div class="">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-responsive" id="logo" src="imagem/CRUD.png" alt="CRUD RAIF">
                </div>
                <div class="col-md-8">
                    <h1><b><p class="destaque">CRUD - RAIF</p></b></h1>
                </div>
            </div>
        </div><hr>
        <body>
            <!-- MENU -->
            <div class="container bg-verde-musgo">
                <div class="row">
                    <div class="col-12">
                        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                            <ul class="navbar-nav mr-auto">
                                <li><a class="navbar-brand" href="index.html" id=""><button class="btn">Home</button></a></li>
                                <li><a class="navbar-brand" href="cadastro.html"><button class="btn">Cadastro</button></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
                
            <!-- CONTEUDO -->
            <div class="container">
                <div>
                    <form>
                        <div class="form-group">
                            <b><label>Nome:</label></b>
                            <input class="form-control" type="text" id="nome" placeholder="Nome">
                            <b><label>Sobrenome:</label></b>
                            <input class="form-control" type="text" id="sobrenome" placeholder="Sobrenome">
                            <b><label>CEP:</label></b>
                            <input class="form-control" type="text" id="cep" placeholder="CEP">
                            <b><label>Rua:</label></b>
                            <input class="form-control" type="text" id="rua" placeholder="Rua">
                            <b><label>Complemento:</label></b>
                            <input class="form-control" type="text" id="complemento" placeholder="Complemento">
                            <b><label>Número:</label></b>
                            <input class="form-control" type="number" id="numero" placeholder="Número">
                            <b><label>Estado:</label></b>
                            <input class="form-control" type="text" id="estado" placeholder="Estado">
                            <b><label>Cidade:</label></b>
                            <input class="form-control" type="text" id="cidade" placeholder="Cidade">
                            <b><label>RG:</label></b>
                            <input class="form-control" type="number" id="rg" placeholder="RG">
                            <b><label>CPF:</label></b>
                            <input class="form-control" type="text" id="cpf" placeholder="CPF">
                            <b><label>Email:</label></b>
                            <input class="form-control" type="email" id="email" placeholder="Email">
                        </div><br>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </form>
                </div>
            </div>
            
            <!-- RODAPE -->
            <div class="text-center">
                <br><b><p><i>2018 - Todos direitos reservados</i></p></b>
            </div>
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        </body>
    </head>
</html>
